.h1{
  
  text-align: center;
  padding: 1rem;
  background-color:#AED2FF;
  border-radius: 15px;
 
}

.Card{
  width: 98%;
 
}

.flex-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 

}

@media (max-width: 600px) {
  .Card {
     width:75%; 

  }
  .h1{
    margin: 10px;
    border-radius: 10px;
    padding:0.8rem;
    background-color:#AED2FF;
  }
  .flex-container {
    flex-direction: column; 
  }
  
}

