.h1{
  
  text-align: center;
  padding: 1rem;
  background-color:#88b3d2;
}

.Card{
  width: 95%;
}

.flex-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 

}

@media (max-width: 600px) {
  .Card {
     width:75%; 

  }
  .h1{
    margin: 8px;
    border-radius: 15px;
    padding:0.5rem
  }
  .flex-container {
    flex-direction: column; 
  }
  
}

